body
{
    margin:0px;
    padding:0px;
    background-color: rgb(185, 194, 191);
}
.box-part{
   
margin:0px,0px,0px,0px;
    padding:10px ;
    background-color: rgb(35, 36, 48);
    display:flex;
    align-items: center;
align-content: center;
}
.text{
    font-style: bold;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
   margin-left: 650px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.fa{

  color: white;  
}
.container2
{
height: 500px;
width: 300px;
background-color:rgb(36, 40, 45);
margin-top: 50px ;
margin-left: 150px;
border: 2px;
border-radius:  25px;

}
.container3
{
height: 60px;
width: 700px;
background-color:rgb(36, 40, 45);
margin-top:  -500px ;
margin-left: 650px;
margin-right: 200px;
margin-bottom: 500px;
border: 2px;
border-radius :20px;
display:flex;
align-items:center;
padding-left:20px;
font-size: 30px;
color:rgb(255, 255, 255);

}
.container4{
    height: 150px;
    width: 250px;
    background-color:rgb(36, 40, 45);
    margin-top:  -430px ;
    margin-left: 550px;
    margin-right: 150px;
    margin-bottom: 500px;
    border: 2px;
    border-radius :20px; 
}
.container5{
    height: 150px;
    width: 250px;
    background-color:rgb(36, 40, 45);
    margin-top:  -650px ;
    margin-left: 920px;
    margin-right: 350px;
    margin-bottom: 0px;
    border: 2px;
    border-radius :20px; 
}
.container6{
    height: 150px;
    width: 250px;
    background-color:rgb(36, 40, 45);
    margin-top: -150px ;
    margin-left: 1270px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 2px;
    border-radius :20px; 
}
.container7{
    height: 150px;
    width: 970px;
    background-color:rgb(36, 40, 45);
    margin-top:  50px ;
    margin-left: 550px;
    margin-right: 350px;
    margin-bottom: 0px;
    border: 2px;
    border-radius :20px; 
}